* {
  margin: 0;
  padding: 0;
  outline: none;
  color: "#635"; }

input {
  border: none;
  box-sizing: border-box; }
  input:focus {
    outline: none; }
  input:active {
    outline: none; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.u-avatar {
  height: 80px;
  background-color: #f00;
  border-radius: 50%; }

* {
  margin: 0;
  padding: 0;
  outline: none; }

body {
  background: "#ddd"; }

label {
  text-transform: capitalize; }

button,
input:not([type="file"]),
textarea,
.fileUpload {
  width: 100%;
  max-width: 320px;
  resize: none;
  padding: 7px 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  color: #444;
  background-color: #fff;
  font-weight: 600; }
  button::-webkit-input-placeholder, input:not([type="file"])::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .fileUpload::-webkit-input-placeholder {
    text-transform: capitalize;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::-moz-placeholder, input:not([type="file"])::-moz-placeholder, textarea::-moz-placeholder, .fileUpload::-moz-placeholder {
    text-transform: capitalize;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button:-ms-input-placeholder, input:not([type="file"]):-ms-input-placeholder, textarea:-ms-input-placeholder, .fileUpload:-ms-input-placeholder {
    text-transform: capitalize;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::-ms-input-placeholder, input:not([type="file"])::-ms-input-placeholder, textarea::-ms-input-placeholder, .fileUpload::-ms-input-placeholder {
    text-transform: capitalize;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::placeholder,
  input:not([type="file"])::placeholder,
  textarea::placeholder,
  .fileUpload::placeholder {
    text-transform: capitalize;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }

button {
  border: none;
  color: #fff;
  background-color: #3498db;
  cursor: pointer; }

button.delete {
  background-color: #bb2f2a; }

.fileUpload {
  background-color: #fff; }

.header {
  background-color: #ea232c;
  margin-bottom: 50px; }
  .header .header_wrapper {
    padding: 5px 0;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -ms-flex-align: center;
        align-items: center; }
    .header .header_wrapper .header_column i {
      color: #fff;
      font-size: 40px; }
    .header .header_wrapper .header_column:nth-child(2) {
      width: 100%;
      -ms-flex-pack: center;
          justify-content: center; }
    .header .header_wrapper .header_column:last-child {
      justify-self: end; }
    .header .header_wrapper .header_column ul {
      display: -ms-flexbox;
      display: flex;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase; }
      .header .header_wrapper .header_column ul li:not(:last-child) {
        margin-right: 15px; }
      .header .header_wrapper .header_column ul li > a {
        color: inherit; }
    .header .header_wrapper .header_column form {
      width: 100%; }
      .header .header_wrapper .header_column form input {
        width: 100%;
        padding: 7px 10px;
        border-radius: 5px;
        font-size: 14px;
        color: #444;
        font-weight: 600; }
        .header .header_wrapper .header_column form input::-webkit-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header_wrapper .header_column form input::-moz-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header_wrapper .header_column form input:-ms-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header_wrapper .header_column form input::-ms-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header_wrapper .header_column form input::placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }

.footer {
  margin: 50px 0;
  padding-top: 50px;
  border-top: 3px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  .footer .footer_icon {
    color: rgba(0, 0, 0, 0.2);
    font-size: 40px;
    margin-bottom: 20px; }
  .footer .footer_text {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 600;
    text-transform: uppercase; }

.form-container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  .form-container form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 25px; }
    .form-container form .fileUpload {
      display: block;
      padding: 10px 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
      width: 100%; }
      .form-container form .fileUpload:not(:last-child) {
        margin-bottom: 25px; }
    .form-container form textarea {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
      margin-bottom: 25px; }
    .form-container form label {
      display: block;
      margin-top: 15px;
      padding: 5px 0; }
    .form-container form input {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.1); }
    .form-container form input[type="submit"] {
      margin-top: 15px;
      background-color: #3498db;
      color: #fff;
      cursor: pointer; }
  .form-container a {
    max-width: 320px;
    width: 100%; }
  .form-container .fileUpload label {
    font-weight: 300;
    margin-right: 10px; }

.social-login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 100%; }
  .social-login button {
    color: #fff;
    width: 100%;
    max-width: 320px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .social-login button:not(:last-child) {
      margin-bottom: 15px; }
    .social-login button span {
      margin-right: 10px;
      font-size: 20px; }
  .social-login .social-login--github {
    background-color: #444; }
  .social-login .social-login--facebook {
    background-color: #3a5998; }

.videoBlock video {
  margin-bottom: 10px;
  max-width: 100%; }

.videoBlock .videoBlock-title {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px; }

.videoPlayer {
  position: relative; }
  .videoPlayer:hover .videoPlayer_controls {
    opacity: 1; }
  .videoPlayer video {
    width: 100%;
    max-width: 100%; }
  .videoPlayer .videoPlayer_controls {
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.4s linear;
    color: #fff;
    position: absolute;
    bottom: 10px;
    z-index: 9;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 18px; }
    .videoPlayer .videoPlayer_controls .videoPlayer_column:first-child {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      .videoPlayer .videoPlayer_controls .videoPlayer_column:first-child span:first-child {
        margin-right: 10px; }
    .videoPlayer .videoPlayer_controls .videoPlayer_column:nth-child(2) {
      justify-self: center; }
    .videoPlayer .videoPlayer_controls .videoPlayer_column:nth-child(3) {
      justify-self: end; }
    .videoPlayer .videoPlayer_controls i {
      font-size: 25px;
      cursor: pointer; }

.video-detail-container {
  width: 70%;
  max-width: 850px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  .video-detail-container .videoPlayer {
    width: 100%; }
  .video-detail-container .video-info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px; }
    .video-detail-container .video-info button {
      margin-bottom: 15px;
      width: 100px; }
    .video-detail-container .video-info .video_author a {
      color: #3498db; }
    .video-detail-container .video-info .video-title,
    .video-detail-container .video-info .video-views,
    .video-detail-container .video-info .video-description {
      display: block;
      margin-bottom: 25px; }
    .video-detail-container .video-info .video-title {
      font-size: 22px;
      font-weight: 300; }
    .video-detail-container .video-info .video-views {
      font-size: 14px; }
    .video-detail-container .video-info .video-description {
      font-size: 16px; }
  .video-detail-container .video-comments {
    margin-top: 25px; }
    .video-detail-container .video-comments .video-comment-number {
      font-size: 18px; }

.home-videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 30px; }
  .home-videos .videoBlock:first-child,
  .home-videos .videoBlock:nth-child(2) {
    grid-column: span 3; }
  .home-videos .videoBlock:nth-child(3),
  .home-videos .videoBlock:nth-child(4),
  .home-videos .videoBlock:nth-child(5) {
    grid-column: span 2; }

.user-profile {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  .user-profile .user-profile_header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 18px; }
    .user-profile .user-profile_header .profile_username {
      font-size: 18px;
      margin-top: 15px; }
  .user-profile .user-profile_btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    .user-profile .user-profile_btns a:not(last-child) {
      margin-bottom: 20px; }


/*# sourceMappingURL=styles.css.map*/