extends layouts/main

block content 
    form(action=`/users${routes.change_password}`, method='post')
        div
        label(for='old-password') Old password 
        input(type='password', id='old-password', name='o_password' )
        div
        label(for='password') New password 
        input(type='password',  id='password', name='n_password' )
        div
        label(for='password2') confirm password
        input(type='password',  id='password2',  name='c_password')
        div
        button(type='submit') Change password