extends layouts/main
include mixins/videoBlock

block content
    ul.home-videos
        each video of videos
            +videoBlock({
                id:video.id,
                title:video.title,
                description:video.description ,
                views:video.views,
                videoURL:video.videoURL     
            })