extends layouts/main

block content 
    .form-container
        form(action=routes.join, method='post').form_container
            label(for="email") Email
            input(type='email', class='email',name='email', placeholder='Email', required)

            label(for="name") Name
            input(type='name', class='name',name='name', placeholder='Name', required)

            label(for="password") Password
            input(type='password', class='password',name='password', placeholder='Password', required)

            label(for="password2") Verify Password
            input(type='password2', class='password2',name='password2', placeholder='Password', required)

            input(type='submit', value='Create account')
        include layouts/components/socialLogin