extends layouts/main
include mixins/videoBlock

block content 
    .search_header
        h3 Searching for 
            span #{searchingBy}
    .search_videos
        if videos.length > 0
            each video in videos
                +videoBlock({
                    id:video.id,
                    description:video.description,
                    title:video.title,
                    views:video.views,
                    videoURL:video.videoURL
                })
        else 
            h5 No match