extends layouts/main

block content 
    .form-container
        form(action=`/videos${routes.upload}`, method='post' enctype='multipart/form-data')
            div.fileUpload
                label(for='file') Video File
                input(type='file', id='file', name='videoFile', required, accept='video/*')
                input(type='text', placeholder='title', name='title', required)
                textarea(name="description", placeholder='description', required)
                input(type='submit', value='Upload video')