mixin videoPlayer(video={})
    .videoPlayer#wowPlayer
        video(src=video.src, muted=true)
        .videoPlayer_controls
            .videoPlayer_column
                input.videoPlayer_volume#volume-track(type='range', min='0', max='1', step='0.1' value='0')
                span.video-volume
                    i(class="fas fa-volume-mute")
                span.video-runtime
                    |00:00 / 10:00
            .videoPlayer_column
                span.video-play-pause
                    i(class='fas fa-pause-circle')
            .videoPlayer_column
                span.video-expand
                    i(class='fas fa-expand')