.user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .user-profile_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;

    .profile_username {
      font-size: 18px;
      margin-top: 15px;
    }
  }
  .user-profile_btns {
    display: flex;
    flex-direction: column;
    align-items: center;

    a:not(last-child) {
      margin-bottom: 20px;
    }
  }
}
