doctype html
html
    head
        link(rel='stylesheet', href='/static/styles.css')
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.14.0/css/all.css", integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" ,crossorigin="anonymous")
        script(src='/static/main.js' defer)
        title #{siteName} : Brother of youtube
    body
        include components/header
        main
            block content
        include components/footer
