include ../mixins/flash.pug

doctype html
html
    head
        link(rel='stylesheet', href='/static/styles.css')
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.14.0/css/all.css", integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" ,crossorigin="anonymous")
        script(src='/static/main.js' defer)
        title #{siteName} : Brother of youtube
    body
        include components/header
        main
            if message || info || success
                p=JSON.stringify(message)
                p zzzzzzzz
                p=info
                if message.info
                    +flash({text:message.info, type:'info'})
                else if message.success
                    +flash({text:message.success, type:'success'})
                else if message.error
                    +flash({text:message.error, type:'error'})
            else
                p hhhhhhhhhh
            block content
        include components/footer
